/*-----------------------------------------------
               Pantone
         *Header : #D0DDE6 #E4C9CD #CE8886
         *button : #EFCDDC
         *fonts  : #7F3B4E
         *comp   : #877161
         *dark   : #4E3C2A
-----------------------------------------------*/

/*-----------------------------------------------
               Header Styles
-----------------------------------------------*/
body {
  background-color: #ECECEC;
}
.header {
  text-align: center;
}

.head_style {
  background-color: #7F3B4E;
  color: white;
  font-family: 'Libre Caslon Text', serif;
  padding: 10px;
}

/*-----------------------------------------------
               Footer Styles
-----------------------------------------------*/

.footer_style {
  font-style: oblique;
  height: 30px;
  padding: 10px;
  text-align: center;
}