/*-----------------------------------------------
               Pantone
         *button : #EFCDDC
         *fonts  : #7F3B4E
         *hover  : #9E4D4C

-----------------------------------------------*/

/*-----------------------------------------------
               Navigation Search
-----------------------------------------------*/

.favorite--style {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
