/*-----------------------------------------------
               Pantone
         *button : #EFCDDC
         *fonts  : #7F3B4E
         *hover  : #9E4D4C

-----------------------------------------------*/

/*-----------------------------------------------
               Navigation Search
-----------------------------------------------*/

.search--style {
    display: flex;
    justify-content: center;
    padding: 20px;
  }

.search_style--input {
  background-color: #EFCDDC;
  border-color: none;
  padding: 4px;
}

.search_style--button {
    background-color: #EFCDDC;
    border-radius: 20px;
    color: #9E4D4C;
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;
    padding: 6px;
    width: 80px;
  }

.search_style--button:hover {
  background-color: #9E4D4C;
  color: #EFCDDC;
}