/*-----------------------------------------------
               Pantone
         *Header : #D0DDE6 #E4C9CD #CE8886
         *button : #EFCDDC
         *fonts  : #7F3B4E
         *comp   : #877161
         *dark   : #4E3C2A
-----------------------------------------------*/

/*-----------------------------------------------
               Styles
-----------------------------------------------*/

/* ----- navigation bar ----- */

.information--style {
    background-color: #E4C9CD;
    border-radius: 4px;
    color: black;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    padding: 10px;
    width: 40%;
}

.information_title--style {
    border: 2px solid white;
    color: black;
    font-style: oblique;
    font-weight: bold;
    padding: 4px;
}