/*-----------------------------------------------
               Pantone
         *button : #EFCDDC
         *fonts  : #7F3B4E
         *icons  : #9E4D4C

-----------------------------------------------*/

/*-----------------------------------------------
               Canvas Style
-----------------------------------------------*/
/* ----- Wrapper ----- */

.wrapper {
    display:flex;
}

/* ----- Container ----- */

.container {
    width: 50%;
}
/* ----- Title ----- */

/* ----- Image ----- */

.imageStyle {
    width: 350px;
    border: 4px solid gray;
}

/* ----- Information ----- */

.info {
    margin: auto;
}
