/*-----------------------------------------------
               Pantone
         *Header : #F7D1CD #7F3B4E #00d4ff
         *button : #EFCDDC
         *fonts  : #7F3B4E
         *comp   : #877161
         *dark   : #4E3C2A
-----------------------------------------------*/

/*-----------------------------------------------
               Header Styles
-----------------------------------------------*/
.header {
  text-align: center;
}

.header_style--logo {
  height: 60px;
}

.header_style--logo:hover {
  transition: 0.2s linear;
  transform: scale(1.0);
}

.header_style--back {
  background: rgb(247,209,205);
  background: linear-gradient(90deg, rgba(247,209,205,1) 0%, rgba(127,59,78,1) 35%, rgba(0,212,255,1) 100%);
  color: white;
  font-family: 'Barlow Condensed', sans-serif;
  height: 70px;
  margin-top: 20px;
  padding: 20px;
}
