/*-----------------------------------------------
               Pantone
         *Header : #D0DDE6 #E4C9CD #CE8886
         *button : #EFCDDC
         *fonts  : #7F3B4E
         *comp   : #877161
         *dark   : #4E3C2A
-----------------------------------------------*/

/*-----------------------------------------------
               Header Styles
-----------------------------------------------*/
body {
  background-color: #ECECEC;
}
.header {
  text-align: center;
}

.header_style--logo {
  height: 60px;
}

.header_style--logo:hover {
  transition: 0.2s linear;
  transform: scale(1.0);
}

.header_style--back {
  color: white;
  font-family: 'Barlow Condensed', sans-serif;
  margin-top: 20px;
  padding: 20px;
}

.background_style {
  background: linear-gradient(90deg, rgba(208,221,230,1) 0%, rgba(228,201,205,1) 51%, rgba(206,136,134,1) 100%);
  padding: 10px;
}