/*-----------------------------------------------
               Pantone
         *button : #EFCDDC
         *fonts  : #7F3B4E
         *icons  : #9E4D4C

-----------------------------------------------*/

/*-----------------------------------------------
               Icons section
-----------------------------------------------*/

.bar--align {
    text-align: center;
}

.bar_style {
    color: #9E4D4C;
    font-size: 24px;
    margin: 10px auto;
}

.bar_style--hov:hover {
    color: #EFCDDC;
    cursor: pointer;
    transition: 0.2s linear;
    transform: scale(1.5);
}

.bar_style:visited {
    color: #EFCDDC;
}

button.bar_style {
    background-color: transparent;
    border: 0;
    padding: 0 4px;
    width: 50px;
}