/*-----------------------------------------------
               Pantone
         *button : #EFCDDC
         *fonts  : #7F3B4E
         *icons  : #9E4D4C

-----------------------------------------------*/

/*-----------------------------------------------
               Icons section
-----------------------------------------------*/

.icon {
    display: flex;
    justify-content: space-around;
    width: 200px;
    margin: 10px auto;
    color: #9E4D4C;
}